@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "fumapress/css/preset.css";

@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

@theme {
  --default-font-family: "Noto Serif", serif;
  --font-mono: "Jetbrains Mono", monospace;
}

:root {
  --color-fd-primary: oklch(0.5676 0.2368 25.41);
}

.dark {
  --color-fd-primary: oklch(0.6971 0.2047 25.41);
}
